<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uca.edu.palmado">

    <application
        android:allowBackup="true"
        android:icon="@drawable/cordobitabeta"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cordobitabeta"
        android:supportsRtl="true"
        android:theme="@style/Theme.Palmado">
        <activity android:name=".AboutUs"></activity>
        <activity android:name=".admin_gasto" />
        <activity android:name=".Reminder" />
        <activity android:name=".Settings" />
        <activity android:name=".Presupuesto" />
        <activity android:name=".OnBoarding">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>